<center><p><font size='+2'>About</font></p></center>
<p><font size='+2'>Links</font></p>
<a href="https://drive.google.com/drive/folders/1mFKsHOrahTIc51FrI9wmz22118xwNr-R" target="_blank">Proposal</a>
<a href="https://gitlab.com/5910680361/arhan-project" target="_blank">git repository</a>
<a href="https://www.pivotaltracker.com/n/projects/2407180" target="_blank">pivotal tracker</a>
<p><font size='+2'>User Stories</font></p>
<div class="page-content">
<center>
<%= image_tag 'us1.png' %>
<%= image_tag 'us2.png' %>

</center>
</body>