<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.box {       
        background-color:#000000;
        color:white;
        font-weight:bold;
        margin:0px auto;
        height:1000px ;        
        width: 900px ;
    }
a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
a:hover, a:active {
      background-color: red;
    }
.page-content img {
      max-width: 100% ;
      height: auto;
      margin-bottom:20px;
  }

</style>

<body>

          <div class="w3-top">
          <div class="w3-bar w3-black w3-card">
          
          <a class="w3-bar-item w3-button w3-padding-large"><%= link_to "Home", sessions_welcome_path %> </a>
          <a class="w3-bar-item w3-button w3-padding-large"><%= link_to "About", about_index_path %> </a>
          
          </div>
          </div>

          <div class="w3-content" style="max-width:2000px;margin-top:46px">
          <div class="container">
          <%= image_tag 'food.png', style: "width:100%"%>
          
          <div class=box>
          </br>
          <center><p><font size='+2'>About</font></p></center>
          <p><font size='+2'>Links</font></p>
          <a href="https://drive.google.com/drive/folders/1mFKsHOrahTIc51FrI9wmz22118xwNr-R" target="_blank">Proposal</a>
          <a href="https://gitlab.com/5910680361/arhan" target="_blank">git repository</a>
          <a href="https://www.pivotaltracker.com/n/projects/2407180" target="_blank">pivotal tracker</a>
          <p><font size='+2'>User Stories</font></p>
          <div class="page-content">
          <center>
          <%= image_tag 'us.png' %>
          
          </center>
          </div>



          
          
          
          </div>
          </div>
          </div>
  
</body>
</html>