* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
   /* background: #9b9fa5;    */
  /* background: #000000; */
}

li {
  margin: 0 8px;
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
}

li a:hover {
  text-decoration: underline;
}

.container {
  width: 95%;
  margin: 0 auto;
}

header {
  width: inherit;
}

div.logo {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

div.logo a {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8em;
}

div.logo a:hover {
  text-decoration: none;
}

nav {
  padding-bottom: 30px;
  text-align: center;
  /* position: fixed; */
}

div.login {
  padding: 10px 0;
  float: right;
  font-size: .8em;
}

div.login li {
  margin: 0 4px;
}

img {
  /* width: 50%; */
  /* height: 350px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
  transition: all .3s ease;
}

/* img:hover {
  transform: scale(1.03);
} */

div.social-links {
  margin-top: 15px;
  padding: 30px 0;
  font-size: 1.2em;
  text-align: center;
}

div.social-links a {
  margin: 0 8px;
  position: relative;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
}

div.social-links a:hover {
  bottom: 5px;
}

form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 30px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #eee;
}

/* below is to dry up for the inputs and
  text areas  - instead of repeating in
    2 places */
/* form .form-field {
  width: 95%;
  margin-bottom: 12px;
  padding: 7px 5px;
  font-size: 16px;
  border: none;
} */

form p.form-title  {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 95%;
  margin-bottom: 12px;
  padding: 7px 5px;
  font-size: 16px;
  border: none;
}

form input[type="submit"] {
  width: auto;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px 15px;
}

form textarea {
  width: 95%;
  margin-bottom: -9px;
  padding: 7px 5px;
  font-size: 16px;
  border: none;
  display: block;
  resize: none;
}
div.alert{
  background-color: red;
  text-align: center;
  font-size: 1.2em
}

div.notice{
  background-color: lightcyan;
  text-align: center;
  font-size: 1.3em
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

 div.trip-filter form  {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
}



div.filter form {
  background: none;
}

div.filter form input[type="submit"] {
  margin-top: 0;
  /* padding: 0; */
}

div.meals  {
  text-align: center;
}
 th, tr {
  text-align: left;
  /* padding-top: 12px; */
  padding-bottom: 12px;
}

 td {
  padding-bottom: 12px;
  padding-right: 25px
}

 table {
  display: flex;
  justify-content: center;
}

#trips{
  text-align: center;
}

.trips-table {
  margin-top: 20px;
}



tr:hover {background-color: #f5f5f5;}

div.trip, div.user, .meal, .review {
  text-align: center;
}



/* header::after {
  content: '';
  display: table;
  clear: both;
} */

/* .logo {
  float: left;
  padding: 10px 0;
} */




/*
nav ul{
  margin: 25px, 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 10px;
  padding-top: 10px;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover, a:active{
  color: black;
}

h1{
  /* float: left; *-/
  align: center;
} */

 /* a:link, a:visited, .nav { */
  /* display: block; */
  /* width: 100px; */
  /* background-color: #d2d5db;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px; */

/* } */



/* .home{
  width: 100px;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
} */
