// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-image: image-url('back.jpg');
    background-repeat: repeat;
    background-size: 100%;
}